/env
/**/*.pyc
/input_metadata_files/*
!/input_metadata_files/category_legend_strings.csv
!/input_metadata_files/classification_2011_comparison_data_availability.csv
!/input_metadata_files/classification_available_geotypes.csv
!/input_metadata_files/classification_data_downloads.csv
!/input_metadata_files/variable_caveats.csv
!/input_metadata_files/variable_map_type_default_classifications.csv
!/input_metadata_files/variable_short_descriptions.csv
