[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-slugify = "==6.1.2"
pytest = "==7.1"
freezegun = "==1.2.2"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"

[scripts]
make-content-jsons = "python make_content_jsons.py 2021-content-spec.json"
test = "python -m pytest"
testv = "python -m pytest -vv -s"
