# Example showing how to set environment variables for the sandbox environment.

export ONS_DP_ENV=sandbox
export AWS_PROFILE=dp-$ONS_DP_ENV
export ATLAS_USER=dl
export COMPOSE_PROJECT_NAME=atlas-$ATLAS_USER
